* {
    margin: 0;
    padding: 0;
}

.contain {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'Satoshi';


    /* --header */
    .cabecera {
        display: flex;
        flex-direction: column;
        width: 100%;


        .title {
            margin-top: 3rem;
            margin-bottom: 30px;
            padding: 0 2rem;
            font-weight: 700;
            font-size: 32px;
            text-align: center;

            @media(min-width:735px) {
                display: none;
            }
        }

        .image {


            width: 100%;
            height: 387px;
            /* height: 280px; */
            background-image: url(../Assets/background-mobile.png);
            /* background-size: contain; */
            background-repeat: no-repeat;
            background-position: center;

            /* tablet mediaQuery */
            @media(min-width:735px) {
                /* width: 685px; */
                /*   width: 100%; */
                background-size: auto 93%;
                height: 500px;
                background-image: url(../Assets/background.png);
                background-repeat: no-repeat;
                background-position: center;

                .secondTitle {
                    display: flex;
                    justify-content: space-between;
                    margin: 2.5rem 0 2rem 0;

                    .titleTwo {

                        font-size: 28px;
                        font-weight: 700px;

                        .titleGris {
                            padding-left: 1.25rem;
                            color: #C5C5C7;

                            /* desktop */
                            @media(min-width: 1069px) {

                                padding-left: 32px;

                            }

                        }

                        /* desktop */
                        @media(min-width: 1069px) {
                            font-size: 32px;
                        }
                    }

                    /* 2tablet */
                    @media(min-width:1068px) {
                        margin: 2.5rem 0 2.5rem 0;

                    }
                }

                /* lista articulos */
                .listArticle {
                    display: flex;
                    justify-content: center;
                    width: 345px;
                    height: 330px;
                    padding: 10px 0 40px 0px;


                  /*   @media(max-width:1069px){
                        .listArticleOculto{
                           
                        }
                    } */
                    /* Desktop */
                   @media(min-width:1069px){
                         width: 520px;
                         height: 430px;
                   }

                }

                .listArticle ul {
                    width: 220px;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                     a{
                         text-decoration: none;
                         color: #1D1D1F;
                     }

                    .article {
                        display: flex;
                        align-items: center;

                        .campoProd {
                            margin-left: 20px;

                        }

                        /* iconos */
                        .imgProducto {
                            padding: 8px;
                            border: 2px solid #c5c5c7;
                            border-radius: 50%;
                        }
                    }



                }

                /* oculto texto a partir de 735 */
                .introTexto {
                    display: none;
                }


            }
            /* Desktop */
            @media(min-width:1069px){
                height: 620px;
            }

            /* Desktop2 image */
            @media(min-width:1440px) {
                background-size: 100%;
                height: 600px;
            }


            @media(max-width:735px) {
                .secondTitle {
                    display: none;
                }

                .listArticle {
                    display: none;
                }
            }

        }

        .cajaProductos {
            display: flex;
            flex-direction: column;
            padding: 0 2rem;

            @media(min-width:735px) {
                display: none;
            }

            .introTexto {
                margin-bottom: 2rem;
                padding: 1.5rem 16px 0 16px;
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                color: #1D1D1F;


                @media(max-width:414px) {
                    .ocultoMenor {
                        display: none;
                    }

                    letter-spacing: 0.9px;
                }

                @media (min-width:414px) {
                    .oculto {
                        display: none;


                    }
                }
            }


        }

        /* media de header-tablet */
        @media(min-width:735px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 695px;
            height: 619px;
            padding: 0 20px 0 20px;
            margin: 0 auto;
        }

        /* header tablet2 */
        @media(min-width:1068px) {
            width: 810px;
            height: 545px;
            margin-top: 20px;
            margin-bottom: 80px;
        }

        /* desktop */
        @media(min-width:1069px) {
            width: 1029px;
            height: 627px;
        }

        /* Desktop2 */
        @media(min-width:1440px) {
            width: 1140px;
        }
    }

    /* ----------------menu ----------------------*/
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 3.75rem;
        color: #1D1D1F;

        /* mobile */
        @media(max-width:735px) {
            .segundaSeccion {
                display: none;
            }
        }

        /* tablet */
        @media(min-width:735px) {
            width: 695px;
            margin: 0 auto;
            padding: 0 20px 0 20px;
            margin-bottom: 80px;

            /* tablet2 */
            @media(min-width:1068px) {
                width: 810px;
                height: 418px;
            }

          

            .segundaSeccion {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin: 40px 0 40px 0;

                .titleSegundaSeccion {
                    font-size: 28px;

                    .titleGrisDos {
                        padding-right: 1.25rem;
                        color: #C5C5C7;

                        /* Desktop */
                        @media(min-width:1069px) {
                            padding-right: 2rem;
                        }
                    }

                    /* Desktop */
                    @media(min-width:1069px) {
                        font-size: 30px;
                    }
                }


            }
        }

        /* Desktop */
        @media(min-width:1069px) {
            width: 1029px;

        }
          /* Desptop2 */
          @media(min-width:1440px) {
            width: 1140px;
        }

        /* --titulo-- */
        .titleProductos {
            margin: 3.75rem 0 2.5rem 0;
            text-align: center;
            font-size: 32px;
            font-weight: 700;
            letter-spacing: -2%;
            color: #1D1D1F;

        }

        @media(min-width:735px) {
            .titleProductos {
                display: none;
                /*  margin-top: 40px;
                font-size: 28px; */
            }

        }

        /*--- section ----*/
        .descripcionArticulos {
            display: flex;
            flex-direction: column;
            width: 85%;

            /* mobile */
            @media (min-width:734px) {
                width: 424px;
            }

            /* empiezo tablet */
            @media(min-width:735px) {
                width: 100%;
                justify-content: center;
                flex-direction: row;
            }

            details {
                padding-bottom: 1.5rem;

                /* mobile */
                @media (max-width:735px) {
                    .ocultaFirstText {
                        display: none;
                    }

                    .saltoText {
                        display: none;


                    }
                }


                /* tablet */
                @media(min-width:735px) {
                    width: 149.75px;
                    height: 354px;
                    padding-bottom: 0;

                    .ocultaSecondText {
                        display: none;
                    }
                }

                /* 2tablet */
                @media(min-width:1068px) {
                    width: 178.5px;


                    .saltoText {
                        display: none;
                    }

                }

                /* Desktop */
                @media(min-width:1069px) {
                    width: 227.25px;
                }

                /* Desktop2 */
                @media(min-width:1440px){
                      width: 255px;
                }

                summary {
                    display: flex;
                    list-style: none;

                    .iconos {
                        display: flex;
                        justify-content: space-between;
                        width: 50px;

                        /* tablet */
                        @media(min-width: 735px) {
                            .ocultarFlecha {
                                display: none;
                            }

                            img {
                                width: 24px;

                            }

                        }
                    }

                    /* tablet */
                    @media(min-width:735px) {
                        .iconos {
                            justify-content: flex-end;
                        }
                    }
                }

                .titleDesplegable {
                    padding-bottom: 0.5rem;
                    font-size: 17px;
                    justify-content: space-between;
                    font-weight: 500px;

                    /* tablet */
                    @media(min-width: 735px) {
                        padding-bottom: 10px;
                        font-size: 20px;
                    }

                    /* mobile */
                    @media(max-width:735px) {

                        .salto {
                            display: none;
                        }
                    }

                    /* tablet2 */
                    @media(min-width:1068px) {
                        .salto {
                            display: none;
                        }
                    }

                    /* Desktop */
                    @media(min-width:1069px) {

                        padding-bottom: 12px;
                    }
                }

                .linea {
                    border: 1.4px solid #F2F2F7;
                }

                p {
                    font-size: 12px;

                    /* tablet */
                    @media(min-width: 735px) {
                        font-size: 15px;
                    }
                }

                .primerItem {
                    padding: 1rem 0 0.5rem 0;

                    /* tablet */
                    @media(min-width: 735px) {
                        padding-top: 20px;
                    }

                    /* Desktop */
                    @media(min-width:1069px) {
                        padding: 1.5rem 0 0.75rem 0;
                    }
                }

                .item {
                    padding-bottom: 0.5rem;

                    /* Desktop */
                    @media(min-width:1069px) {
                        padding-bottom: 0.75rem;
                    }
                }

                .negrita {
                    font-weight: bold;
                }


            }

            /* tablet */
            @media(min-width:735px) {
                .listTech {
                    margin-right: 32px;

                    /* Desktop */
                    @media(min-width:1069px) {
                        margin-right: 40px;
                    }
                }

                .ordenUno {
                    order: 1;
                }

                .ordenDos {
                    order: 3;
                }

                .ordenTres {
                    order: 2;
                }

                .ordenCuatro {
                    order: 4;
                }
            }



        }

    }


}